In [699]:
# import necessary packages
import pandas as pd
import numpy as np

## Import & Study

In [700]:
# read in the csv as a dataframe
df_initial = pd.read_csv('epi_r.csv')

In [701]:
# print head of dataframe
df_initial.head()

,title,rating,calories,protein,fat,sodium,#cakeweek,#wasteless,22-minute meals,3-ingredient recipes,...,yellow squash,yogurt,yonkers,yuca,zucchini,cookbooks,leftovers,snack,snack week,turkey
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [702]:
# print shape
print('Shape of dataframe:', df_initial.shape)

Shape of dataframe: (20052, 680)

In [703]:
# use .info() to study contents
df_initial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20052 entries, 0 to 20051
Columns: 680 entries, title to turkey
dtypes: float64(679), object(1)
memory usage: 104.0+ MB

In [704]:
# all rows and columns are populated, np.NaN where appropriate

In [705]:
# for formatting purposes and matching columns with the categories we extract next,
#    convert titles to title format

# initiate new list to contain column headers in title format
new_cols = []
for col in df_initial.columns:
    new_cols.append(col.title())

# change the column names
df_initial.columns = new_cols
df_initial.columns

Index(['Title', 'Rating', 'Calories', 'Protein', 'Fat', 'Sodium', '#Cakeweek',
       '#Wasteless', '22-Minute Meals', '3-Ingredient Recipes',
       ...
       'Yellow Squash', 'Yogurt', 'Yonkers', 'Yuca', 'Zucchini', 'Cookbooks',
       'Leftovers', 'Snack', 'Snack Week', 'Turkey'],
      dtype='object', length=680)

In [706]:
# read json file in as a dataframe
rec_df = pd.read_json('full_format_recipes.json', orient='columns')
rec_df.head()

,calories,categories,date,desc,directions,fat,ingredients,protein,rating,sodium,title
0,426.0,"[Sandwich, Bean, Fruit, Tomato, turkey, Vegeta...",2006-09-01 04:00:00,None,"[1. Place the stock, lentils, celery, carrot, ...",7.0,"[4 cups low-sodium vegetable or chicken stock,...",30.0,2.500,559.0,"Lentil, Apple, and Turkey Wrap"
1,403.0,"[Food Processor, Onion, Pork, Bake, Bastille D...",2004-08-20 04:00:00,This uses the same ingredients found in boudin...,[Combine first 9 ingredients in heavy medium s...,23.0,"[1 1/2 cups whipping cream, 2 medium onions, c...",18.0,4.375,1439.0,Boudin Blanc Terrine with Red Onion Confit
2,165.0,"[Soup/Stew, Dairy, Potato, Vegetable, Fennel, ...",2004-08-20 04:00:00,None,[In a large heavy saucepan cook diced fennel a...,7.0,"[1 fennel bulb (sometimes called anise), stalk...",6.0,3.750,165.0,Potato and Fennel Soup Hodge
3,NaN,"[Fish, Olive, Tomato, SautÃ©, Low Fat, Low Cal,...",2009-03-27 04:00:00,The Sicilian-style tomato sauce has tons of Me...,[Heat oil in heavy large skillet over medium-h...,NaN,"[2 tablespoons extra-virgin olive oil, 1 cup c...",NaN,5.000,NaN,Mahi-Mahi in Tomato Olive Sauce
4,547.0,"[Cheese, Dairy, Pasta, Vegetable, Side, Bake, ...",2004-08-20 04:00:00,None,[Preheat oven to 350Â°F. Lightly grease 8x8x2-i...,32.0,"[1 12-ounce package frozen spinach soufflÃ©, th...",20.0,3.125,452.0,Spinach Noodle Casserole

In [722]:
# convert 'date' to a datetime object
pd.to_datetime(rec_df['date'])
rec_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20130 entries, 0 to 20129
Data columns (total 12 columns):
calories       15976 non-null float64
categories     20111 non-null object
date           20111 non-null datetime64[ns]
desc           13495 non-null object
directions     20111 non-null object
fat            15908 non-null float64
ingredients    20111 non-null object
protein        15929 non-null float64
rating         20100 non-null float64
sodium         15974 non-null float64
title          20111 non-null object
Recipe Id      20130 non-null object
dtypes: datetime64[ns](1), float64(5), object(6)
memory usage: 2.6+ MB

## Add Custom Columns

Though not necessarily relevant to the clustering aspect of this project, other data could be useful for the exploratory data analysis and inferential statistics part of this project

In [708]:
# Rating Group

# ratings range between 1 to 5, and recipes with no rating have a rating of zero
# put recipes in groupings of 1-2, 2-3, 3-4, 4-5, and null for no rating

# create set_rating_group function
def set_rating_group(rating):
    if rating >= 4:
        return '4-5'
    elif rating >= 3:
        return '3-4'
    elif rating >= 2:
        return '2-3'
    elif rating >= 1:
        return '1-2'
    else:
        return 'no rating'
    
# apply make_humid function
df_initial['Rating Group'] = df_initial['Rating'].apply(set_rating_group)
#df_initial[['Rating','Rating Group']]

In [709]:
# Recipe Identifier

# We want to import the date for each recipe from the json file
# there are fewer rows in our csv file than in our json and there are recipes that
#    have the same title, so we need a unique identifier for each recipe

# create unique identifier in each dataframe
df_initial['Recipe Id'] = df_initial['Title'].map(str) + df_initial['Rating'].map(str) + df_initial['Calories'].map(str)
rec_df['Recipe Id'] = rec_df['title'].map(str) + rec_df['rating'].map(str) + rec_df['calories'].map(str)
#df_id_date = pd.DataFrame(rec_df[['Recipe Id', 'date']])

# pull the date column into df_initial based on the Recipe Id
df_initial = df_initial.merge(rec_df[['Recipe Id', 'date']], on='Recipe Id', 
                              how='left', left_index=False)
df_initial.rename(columns ={'date': 'Date Time'}, inplace =True)
df_initial.head()

,Title,Rating,Calories,Protein,Fat,Sodium,#Cakeweek,#Wasteless,22-Minute Meals,3-Ingredient Recipes,...,Yuca,Zucchini,Cookbooks,Leftovers,Snack,Snack Week,Turkey,Rating Group,Recipe Id,Date Time
0,"Lentil, Apple, and Turkey Wrap",2.500,426.0,30.0,7.0,559.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2-3,"Lentil, Apple, and Turkey Wrap 2.5426.0",2006-09-01 04:00:00
1,Boudin Blanc Terrine with Red Onion Confit,4.375,403.0,18.0,23.0,1439.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4-5,Boudin Blanc Terrine with Red Onion Confit 4.3...,2004-08-20 04:00:00
2,Potato and Fennel Soup Hodge,3.750,165.0,6.0,7.0,165.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3-4,Potato and Fennel Soup Hodge 3.75165.0,2004-08-20 04:00:00
3,Mahi-Mahi in Tomato Olive Sauce,5.000,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4-5,Mahi-Mahi in Tomato Olive Sauce 5.0nan,2009-03-27 04:00:00
4,Spinach Noodle Casserole,3.125,547.0,20.0,32.0,452.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3-4,Spinach Noodle Casserole 3.125547.0,2004-08-20 04:00:00

## Narrow Categories

We need to figure out which of the columns in the csv file are 'categories' and which are 'ingredients'. By extracting what values are listed in categories from the JSON file and comparing them to the strings in the 'ingredients' column of the json, we can get a better list of categories for our analysis.

In [710]:
# extract all categories by appending them to the empty list categories_initial
categories_initial = []
for l in rec_df.categories:
    #print(str(type(l)) +" " + str(l))
    if type(l) == list:
        for cat in l:
            if cat not in categories_initial:
                categories_initial.append(cat)
                
# format categories
categories_initial = [cat.title() if cat.lower() == cat else cat for cat in categories_initial]                

# sort categories list and check it
categories_initial = sorted(categories_initial)
print('First 40 initial categories:', categories_initial[:40])
print()
print('Number of initial categories:', len(categories_initial))

First 40 initial categories: ['#CAKEWEEK', '#WasteLess', '22-Minute Meals', '3-Ingredient Recipes', '30 Days of Groceries', 'Advance Prep Required', 'Alabama', 'Alaska', 'Alcoholic', 'Almond', 'Amaretto', 'Anchovy', 'Anise', 'Anniversary', 'Anthony Bourdain', 'Aperitif', 'Appetizer', 'Apple', 'Apple Juice', 'Apricot', 'Arizona', 'Artichoke', 'Arugula', 'Asian Pear', 'Asparagus', 'Aspen', 'Atlanta', 'Australia', 'Avocado', 'Back to School', 'Backyard BBQ', 'Bacon', 'Bake', 'Banana', 'Barley', 'Basil', 'Bass', 'Bastille Day', 'Bean', 'Beef']

Number of initial categories: 674

In [711]:
# there are too many categories, mostly due to the fact that ingredients are included as categories
# identify which categories are ingredients by searching for the category substring in the 
#    ingredients list for that recipe

# extract all categories that are ingredients by appending them to the empty list ingredients_initial
ingredients_initial = []

for i, row in rec_df.iterrows():
    #print(str(type(l)) +" " + str(l))
    temp_cats = row.categories
    temp_ingr = row.ingredients
    if type(temp_cats) == list and type(temp_ingr) == list:
        for cat in temp_cats:
            cat = cat.lower()
            cat_title = cat.title()
            for ingr in temp_ingr:
                ingr = ingr.lower()
                if ingr.find(cat) != -1 and cat_title not in ingredients_initial:
                    ingredients_initial.append(cat_title)

ingredients_initial = sorted(ingredients_initial)
# print('Ingredients that are categories:', ingredients_initial)
print('Number of ingredients that are categories:', len(ingredients_initial))

Number of ingredients that are categories: 398

In [712]:
# some ingredients are indeed categories and not ingredients
# the initial ingredients list is easy to scan though, so remove the few categories that exist in it
# note: full food items (like Salad and Sandwich) are not ingredients from my perspective

not_ingredients = ['Bake', 'Blender', 'Boil', 'Bon AppÃ©tit', 'Braise', 'Breakfast', 'Broil', 
                   'California', 'Cocktail', 'Deep-Fry', 'Dessert', 'Dinner', 'Drink', 'Easter', 
                   'Fall', 'Food Processor', 'Fry', 'Game', 'Gourmet', 'Grill', 'Healthy', 
                   'Ice Cream Machine', 'Juicer', 'Kosher', 'Mandoline', 'Marinate', 'Microwave', 
                   'Mixer', 'Mortar And Pestle', 'New York', 'Passover', 'Pasta Maker', 'Pastry', 
                   'Pie', 'Pizza', 'Poach', 'Pressure Cooker', 'Ramekin', 'Raw', 'Salad', 
                   'Sandwich', 'SautÃ©', 'Seafood', 'Side', 'Simmer', 'Skewer', 'Slow Cooker', 
                   'Smoker', 'Snack', 'Spring', 'Steam', 'Stew', 'Stir-Fry', 'Summer', 'Tart', 
                   'Thanksgiving', 'Vegan', 'Vegetarian', 'Winter']

# remove items from not_ingredients from the ingredients_initial list
ingredients = [ingr for ingr in ingredients_initial if ingr not in not_ingredients]

# check lengtih of ingredients list to make sure it's less than 398
print('Number of ingredients that are categories:', len(ingredients))

Number of ingredients that are categories: 339

In [713]:
# construct final categories list
# do this by not including categories that appear in the ingredients list
categories = [cat for cat in categories_initial if cat not in ingredients]
#print(categories)
print('Number of categories:', len(categories))

Number of categories: 337

In [714]:
# from our csv dataframe, remove columns (other than title and nutritional info) that don't 
#    fall in the categories list

cols1 = ['Title', 'Rating', 'Rating Group', 'Date Time', 'Calories', 'Protein', 'Fat', 'Sodium']
for cat in categories:
    # getting an error for categories that aren't in df_initial.columns
    if cat in df_initial.columns:
        cols1.append(cat)

# create dataframe with only desired columns
df_narrowed = df_initial[cols1]
df_narrowed.shape
#df_narrowed.columns

(23762, 318)

## Remove Low Frequency Columns

If some of our categories barely have any recipes falling under them, we should probably exclude them from our analysis.

In [715]:
# COLUMNS

# exclude columns with 2 or fewer rows that contain them by identifying them in a dictionary

col_to_remove = dict()
for col in df_narrowed.loc[:,'22-Minute Meals':]:
    if sum(df_narrowed[col]) <= 2:
        col_to_remove[col] = sum(df_narrowed[col])

print('Number of columns with 2 or fewer rows that contain the category:', len(col_to_remove))

Number of columns with 2 or fewer rows that contain the category: 62

In [716]:
# reconstruct list of column names
cols2 = ['Title', 'Rating', 'Rating Group', 'Date Time', 'Calories', 'Protein', 'Fat', 'Sodium']
for col in df_narrowed.loc[:,'22-Minute Meals':].columns:
    if col not in col_to_remove:
        cols2.append(col)

# create dataframe with only desired columns
df_narrowed2 = df_narrowed[cols2]
df_narrowed2.shape
#df_narrowed2.columns

(23762, 256)

In [717]:
# ROWS

# exclude rows that don't appear in 1 or fewer categories by identifying them in a dictionary

#rows_to_remove = dict()
#for index, row in df_narrowed.loc[:,'22-Minute Meals':].iterrows():
#    col_sum = sum(row)
#    if col_sum <= 1:
#        rows_to_remove[index] = col_sum
        
#print('Number of rows with 1 or fewer categories representing them:', len(rows_to_remove))

In [718]:
# SHOULD I REMOVE ROWS?

## Export CSV Files

In addition to exporting the cleaned dataframe to use for the clustering, I still want to include the ingredients data for some initial exploratory data analysis. I will export three different csv files:

* Recipes_Categories: Title, nutritional info, categories
* Recipes_Ingredients: Title, nutritional info, ingredients
* Recipes_Full: Title, nutritional info, categories, and ingredients

In [719]:
# Recipes_Categories

# reassign for future ease of use in final code
df_cats = df_narrowed2

# we already created this dataframe (df_narrowed2) so just need to export
df_cats.to_csv('Recipes_Categories.csv')

In [720]:
# Recipes_Ingredients

# initiate lists of column names
ingr_cols = ['Title', 'Rating', 'Rating Group', 'Date Time', 'Calories', 'Protein', 'Fat', 'Sodium']

# add ingredients to ingr_cols list
for ingr in ingredients:
    if ingr in df_initial.columns:
        ingr_cols.append(ingr)

# create dataframe with only desired columns
df_ingr = df_initial[ingr_cols]

# export to csv
df_ingr.to_csv('Recipes_Ingredients.csv')

In [721]:
# Recipes_Full

# build from the df_narrowed2 but add ingredients
cols_full = cols2 + ingr_cols[6:]

# create dataframe with only desired columns
df_full = df_initial[cols_full]

# export to csv
df_full.to_csv('Recipes_Full.csv')